.nested-fields
.field.form-group
  = f.input :name
.field.form-group  
  = f.input :description
.field.form-group
  = f.label :assign_to
.field.form-group  
  = f.collection_select :assign_to, User.all, :id, :name
.field.form-group
  = f.input :delivery_minutes
.field.form-group 
  = f.input :is_completed, as: :boolean
.field.form-group  

  = f.hidden_field :user_id, value: current_user.id if f.object.user_id.nil?
  = link_to_remove_association "Remove task", f, class: "btn btn-danger" 
%br/